*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    /* outline: 1px dashed yellow;  */
    /* font-family: Arial, Helvetica, sans-serif; 
    color: white; 
    text-align: center; */
}

html{
    background: black; 
}
body{
    background: #245076; 
    width: 970px; 
    margin: 0px auto 15px auto; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white; 
    text-align: center;
}

header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 10px; 
}
    header img{
        width: 400px; 
    }

    header div.search p{
        padding: 5px; 
        font-size: small; 
    }

    header div.search p span {
        color: black; 
    }
    
    header div.search  a{
        color: #D5B400; 
    }

    header div.search div.search_bar{
        background: #444444; 
        border-radius: 10px; 
        box-shadow: 2px 2px 3px black;
        width: 300px; 
        height: 60px; 
        display: flex; 
        justify-content: center;
        align-items: center;

    }

        header div.search div.search_bar div.field{
            background: white; 
            border: 3px inset #EEEEEE; 
            box-shadow: 2px 2px 2px #242524; 
            color: #A9A9A9;
            padding: 7px 50px;  
            margin-right: 5px;
        }
        
        header div.search div.search_bar button{
            background: #245076; 
            color: white; 
            border: 3px outset #EEEEEE; 
            border-radius: 5px;
            box-shadow: 2px 2px 2px #242524; 
            padding: 7px 15px; 
        }

div.container{
    margin: 0px auto; 
}

    nav.top{ 
        font-size: larger;
        /* background: #437DAD;  */
        background: linear-gradient(180deg, rgba(52,118,173,1) 0%, rgba(71,126,173,1) 100%); 
        border-radius: 8px; 
        box-shadow: 2px 2px 5px black;
        padding: 10px; 
        margin: 5px 45px 5px 75px; 
    }
    
    nav.top ul {
        list-style-type: none;
        display: flex; 
        justify-content: space-between;
        align-items: center;
        padding: 0px 20px; 

    }

    nav.top ul li a{
        color: white; 
        text-decoration: none;
    }

section.main{
    display: flex; 
    justify-content: space-between;
}

    nav.left{
        display: inline-block;
        width: 35%; 
        padding: 20px; 
    }

        nav.left ul{
            list-style-position: inside;
            line-height: 25px;
        }

            nav.left ul li a{
                color: white; 
            }


div.poetry {
    width: 60%;
    display: flex; 
    flex-direction: column;
    margin: 15px 45px 0px 10px; 
}  

div.poetry p{
    /* padding: 15px;  */
    font-size: smaller; 
    padding: 0px 15px; 
    margin-bottom: 10px; 
    }

    blockquote{
        font-size: larger; 
        color:  #D5B400; 
        font-style: italic; 
        padding; 15px; 
        line-height: 30px; 
    }

    blockquote span{
        color: white; 
        line-height: 45px; 
        font-style: normal; 
    }

div.info{
    display: flex; 
    justify-content: space-between;
    background: white;
    padding: 10px 30px; 
}

div.info{
    display: flex; 
    justify-content: space-between;

}
div.info section.about{
    border-top: 3px solid #73A7D5; 
    color: black;
    width: 400px; 
    display: flex; 
    flex-direction: column;
    align-items: center; 
    font-size: smaller; 
    margin: 10px 30px; 
    padding-right: 45px;
    padding-left: 25px;  
}

    section.about h2{
        margin: 5px auto; 
    }
    section.about p{
        margin: 0px 10px 10px 10px; 
    }

    section.about p span{
        color: #73A7D5; 
    }
    section.about ul{
        width: 250px; 
    }
        section.about ul li{
            color: black; 
            list-style-position: outside;
        }

        section.about ul li span{
            color: #73A7D5; 
        }

        section.about ul li a{
            color: #73A7D5; 
            text-decoration: none;
        }



    footer nav.foot ul{
        list-style-type: none;
        /* display: flex; 
        justify-content: ; */
        width: 90%;    
        padding: 25px 0px 10px 45px;      

    }

    footer nav.foot ul li{
        display: inline; 
        margin: 0px 20px; 
    }

        nav.foot ul li a{
            text-decoration: none;
            color: #87BAE5; 
            font-size: medium; 
        }
        
        section.copywrite{
            color: #87BAE5; 
            font-size: small; 
            padding: 5px; 
        }

    




